body {
	background : #000000;
	margin-top : 5px;
	margin-left : 0px;
	margin-right : 0px;
	text-align : center;
}
a {
	color : #B0B0B0;
	font-size : 10pt;
	font-family : Tahoma, Arial, "MS Sans Serif", sans-serif;
	font-weight : bold;
	text-decoration : none;
}
a:link    { color : #B0B0B0 }
a:visited { color : #B0B0B0 }
a:hover   { color : #E0E0E0 }
a:active  { color : #E0E0E0 }