a:active {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #CCCCCC; text-decoration: none}
a:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF0000; text-decoration: none}
a:link {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #CCCCCC; text-decoration: none}
a:visited {  font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none}