
body {
	background-color:#E8E8E8;
	color: Black;
}

.titre {
	color: #354866;
	background-color: #CBD5E4;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 19px;
	margin-bottom: 44px;
}

i {
	color: #000180;
}

.paragraphe {
	background-color: #E7ECF3;
	border-color: #7289A3;
	border-style: solid;
	border-width: 1px;
	padding: 7px;
	margin-top: 30px;
}

.soustitre {
	color: #1D5C15;
	text-align: center;
	background-color: #F2F4F7;
	border-color: #CFD8E5;
	border-style: solid;
	border-width: 1px;
	padding: 3px;
	padding-bottom: 5px;
	font-weight: bold;
	text-decoration: underline;
}

.soustitre2 {
	color: #840000;
	background-color: #EFEFEF;
	border-color: #CFD8E5;
	border-style: solid;
	border-width: 1px;
	width: 240px;
	padding: 3px;
	padding-bottom: 5px;
	padding-left: 15px;
	text-decoration: underline;
	margin-bottom: 10px;
	margin-top: 30px;
}

.code {
	background-color: #FCF9EF;
	border-color: #CFD8E5;
	border-style: solid;
	border-width: 1px;
	width: 745px;
	padding: 4px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.code2 {
	background-color: #FCF9EF;
	border-color: #CFD8E5;
	border-style: solid;
	border-width: 1px;
	width: 745px;
	padding: 4px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 11px;
	line-height: 1em;
}

.adresse {
	color: #74260C;
}

pre {
	font-size: 10px;
	font-family: Terminal, "Courier New";
	line-height: 1em;
}

.ligne {
	color: #354866;
	background-color: #CBD5E4;
	border-style: solid;
	border-width: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 32px;
	margin-bottom: 32px;
	margin-left: 25px;
	margin-right: 25px;
}
