td {font-family:arial, verdana;font-size:10px;color:808080;cursor:default}
a {color:FF8000;text-decoration:none}
a:hover {color:FF8000;text-decoration:underline}
.header1 {font-family:arial, verdana;font-size: 10px;color: FF8000;
}