body, td {font-family: Verdana; font-size: 10px; text-decoration:none; color:#616161}
body { background-color: #FFFFFF;}

a:link {color:#616161}
a:visited {color:#616161}
a:hover {color:#616161}
a:active {color: #616161}
a {text-decoration:none}